---
interface Props {
    title: string;
    description?: string;
}

const { title, description = "Voice cloning should not be rocket science" } =
    Astro.props;

import StorageManager from "@/islands/StorageManager";
import DeleteConfirmationModal from "@/islands/DeleteConfirmationModal";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <slot />
        <StorageManager client:load />
        <DeleteConfirmationModal client:load />
    </body>
</html>

<style is:global>
    @import "../styles/global.css";
    @import "../styles/modal.css";
</style>
